{{include 'templateheader.html'}}

<div class="box" align="center" style="padding: 10px 0; margin: 10px; background: rgba(0,0,0,0.20);">
    <p style="font-size:25px; color:white"><b>Cihan SELİM | 120709019</b></p>
    <a class="baslik" href="https://twitter.com/chnselim"><img style="width: 50px;height: 50px;margin-right: 10px;" src="{{=URL('static/template', 'images/indexbuttons/twitter.png')}}"/></a>
    <a class="baslik" href="https://fb.com/chnselim"><img style="width: 50px;height: 50px;margin-right: 10px;" src="{{=URL('static/template', 'images/indexbuttons/fb.png')}}"/></a>
    <a class="baslik" href="https://plus.google.com/u/0/100099508365033901935"><img style="width: 50px;height: 50px;margin-right: 10px;" src="{{=URL('static/template', 'images/indexbuttons/google.png')}}"/></a>
</div>
<div class="box" align="center" style="padding: 10px 0; margin: 10px; background: rgba(0,0,0,0.20);">
    <p style="font-size:25px; color:white"><b>Eren VURAL | 120709027</b></p>
    <a class="baslik" href="https://twitter.com/ernvural"><img style="width: 50px;height: 50px;margin-right: 10px;" src="{{=URL('static/template', 'images/indexbuttons/twitter.png')}}"/></a>
    <a class="baslik" href="https://fb.com/eren.vural.374"><img style="width: 50px;height: 50px;margin-right: 10px;" src="{{=URL('static/template', 'images/indexbuttons/fb.png')}}"/></a>
    <a class="baslik" href="https://plus.google.com/u/0/105969101921046574711"><img style="width: 50px;height: 50px;margin-right: 10px;" src="{{=URL('static/template', 'images/indexbuttons/google.png')}}"/></a>
</div>
</body>
</html>
