{{include 'templateheader.html'}}
<style type="text/css">
    td {
        padding: 0 30px 0 30px;
    }
</style>

<head>
    <link rel="stylesheet" type="text/css" href="{{=URL('static/template', 'player/plugin/css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{=URL('static/template', 'player/demo/css/demo.css')}}">
    <script type="text/javascript" src="{{=URL('static/template', 'player/demo/js/jquery-1.6.1.min.js')}}"></script>
    <script type="text/javascript"
            src="{{=URL('static/template', 'player/plugin/jquery-jplayer/jquery.jplayer.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static/template', 'player/plugin/ttw-music-player-min.js')}}"></script>

    <script type="text/javascript">

        var myPlaylist = [
        {{for songs in album_list:}}
            {
                mp3: '{{=URL('static/template','musics/{0}.mp3'.format(songs.song_url))}}',
                cover: '{{=URL('static/template','images/albums/{0}.jpg'.format(songs.album_url.album_url))}}',
                title: '{{=songs.song_name}}',
                duration: '{{=songs.song_length}}',
                artist: '{{=songs.artist_url.artist_name}}',
            },
        {{pass}}
        ]

        var description = '{{=songs.album_url.albuminfo}}{{=songs.album_url.studio}}';



    </script>
    <h3 class="baslik" style="text-align:center;color:white;">
        <a title="{{=songs.artist_url.artist_name}} in artists" href="/music/default/artist/{{=songs.artist_url.artist_url}}">{{=songs.artist_url.artist_name}}</a> |
        <a title="More info" href="https://en.wikipedia.org/wiki/{{=songs.album_url.album_name}}">{{=songs.album_url.album_name}}</a></h3>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay: false,
                description: description,
                tracksToShow: 7,
            });
        });
    </script>

</head>
</html>