{{include 'templateheader.html'}}

<div class="col-sm-4 col-sm-offset-4">

        <a href="artist_management">
        <div class="box">
            <h3 style="text-align: center;padding-top: 10px;padding-bottom: 10px;"><b>ARTIST MANAGEMENT</b></h3>
        </div></a>

        <a href="album_management">
        <div class="box">
            <h3 style="text-align: center;padding-top: 10px;padding-bottom: 10px;"><b>ALBUM MANAGEMENT</b></h3>
        </div></a>

        <a href="song_management">
        <div class="box">
            <h3 style="text-align: center;padding-top: 10px;padding-bottom: 10px;"><b>SONG MANAGEMENT</b></h3>
        </div></a>

        <a href="contact_management">
        <div class="box">
            <h3 style="text-align: center;padding-top: 10px;padding-bottom: 10px;"><b>MESSAGES FROM USERS</b></h3>
        </div></a>
</div>